services:
  db:
    image: postgres:18-alpine
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: dbuser
      POSTGRES_PASSWORD: dbpassword
      POSTGRES_DB: shipment_db
    volumes:
      - "./db_init.sql:/docker-entrypoint-initdb.d/init.sql"